.quiz-container {
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: rgb(211, 248, 222);
}

body {
    background-color: rgb(211, 248, 222);
    font-family: sans-serif;
}

header {
    background-color: rgb(211, 248, 222);;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 50px;
    font-size: 3em;
}

#start-btn {
    width: 200px;
    padding: 10px 15px;
    background-color: rgb(163, 184, 169);
    border-radius: 12px; 
}

.answer {
    width: 200px;
    padding: 10px 15px;
    background-color: rgb(163, 184, 169);
    border-radius: 12px;

}

.correct-answer {
    width: 200px;
    padding: 10px 15px;
    background-color: rgb(163, 184, 169);
    border-radius: 12px;
}

.message {
    display: flex;
    flex-direction: column;
    height: 200px;
}

.input {
    margin: 20px;
}

.your-score {
    text-align: center;
}

.highScores{
    display: flex;
    flex-direction: column;
    height: 200px;
}
